/*body {

	margin: 0;
	padding: 0;

}



header {

	width: 80%;
	height: 20vh;
	background-color: blue;

	display: inline-block;
	float: left;

}

header h1 {

	font-size: 2.7em;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a0033;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #1a0080;
}

.active {
    background-color: #1a0080;
}

/*nav {

	display: inline-block;
	background-color: red;

	width: 20%;
	height: 20vh;

}



.main img {

	height: 100%;
	width: auto;

}




.ContentBlock figure {

	margin: 0;
	float: left;

	overflow: hidden;
	border: solid red 1px;

	width: 40%;
	height: 100%;

}
*/
#KalebPoliSci figure {

	float: right;

}


.ContentBlock {

	margin: 0;
	padding: 0;
	height: 50vh;

	border: solid black 1px;

}

.main {

	margin: 0;
	padding: 0;

	width: 100%;
	height: 60vh;
	overflow: hidden;

	background-color: black;
	text-align: center;

}
/*
.ContentBlock img {

	width: 100%;
	height: auto;
}
*/

body, html {
	margin-left: 20pt;
	margin-right: 20pt;
	margin-bottom: 15pt;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #001f3f
}

body {
	color: white;
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/political.jpg");
	height: 65%;
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 20pt;
}

.hero-text {
	text-align: center;
    position: absolute;
    font-size: 25pt;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman", Times, serif;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a0033;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #1a0080;
}

.active {
    background-color: #1a0080;
}

header {
	width: 80%;
	height: 20%;
	float: left;
	margin-bottom: 20px;
	background-color: #0a0033;
}

header h1 {
	float: left;
	font-size: 20pt;
	color: white;
	font-family: Impact, Charcoal, sans-serif;
}

/*nav {

	display: inline-block;
	background-color: red;

	width: 20%;
	height: 20vh;

}
*/

h2 {
	margin: 0;
	height: 5vh;
}


.ContentBlock {

	margin: 0;
	padding: 0;
	height: 50vh;

	border: solid black 1px;

}

figure {

	margin: 0;
	float: left;
	overflow: hidden;
	width: 40%;
	height: 100%;

}

img {

	width: 100%;
	height: auto;

}

