body {

	margin: 0;
	padding: 0;

}

/*-----------------------------*/

header {

	width: 80%;
	height: 20vh;
	background-color: blue;

	display: inline-block;
	float: left;

}

header h1 {

	font-size: 2.7em;

}

/*-----------------------------*/

nav {

	display: inline-block;
	background-color: red;

	width: 20%;
	height: 20vh;

}

/*-----------------------------*/

.main {

	margin: 0;
	padding: 0;

	width: 100%;
	height: 60vh;
	overflow: hidden;

	background-color: black;
	text-align: center;

}

.main img {

	height: 100%;
	width: auto;

}

/*-------------------------*/

.ContentBlock {

	margin: 0;
	padding: 0;
	height: 50vh;

	border: solid black 1px;

}

.ContentBlock figure {

	margin: 0;
	float: left;

	overflow: hidden;
	border: solid red 1px;

	width: 40%;
	height: 100%;

}

#KalebPoliSci figure {

	float: right;

}

.ContentBlock img {

	width: 100%;
	height: auto;
}
